In [1]:
import pandas as pd
import snowflake.connector

def load_data():
    conn = snowflake.connector.connect(
                user="XCHENG",
                password="19960302Cxy_",
                account="ke74435",
                warehouse="CASESTUDY_WH",
                database="CASESTUDY",
                schema="CASESTUDY_XINYUAN"
                )

    cur = conn.cursor()

    # Execute a statement that will generate a result set.
    sql = '''
    SELECT "CASESTUDY"."CASESTUDY_XINYUAN"."actual_prices"."startTime", "actualValue",
    "CASESTUDY"."CASESTUDY_XINYUAN"."our_forecast"."p50" AS "ourForecast",
    "CASESTUDY"."CASESTUDY_XINYUAN"."their_forecast"."p50" AS "theirForecast"
    FROM "CASESTUDY"."CASESTUDY_XINYUAN"."actual_prices"
    JOIN "CASESTUDY"."CASESTUDY_XINYUAN"."our_forecast" ON "CASESTUDY"."CASESTUDY_XINYUAN"."actual_prices"."startTime" = "CASESTUDY"."CASESTUDY_XINYUAN"."our_forecast"."startTime"
    JOIN "CASESTUDY"."CASESTUDY_XINYUAN"."their_forecast" ON "CASESTUDY"."CASESTUDY_XINYUAN"."actual_prices"."startTime" = "CASESTUDY"."CASESTUDY_XINYUAN"."their_forecast"."startTime"
    '''
    cur.execute(sql)
    # Fetch the result set from the cursor and deliver it as the Pandas 
    df = cur.fetch_pandas_all()
    cur.close()
    conn.close()
    return df

In [2]:
df = load_data()

In [3]:
df.head()

            startTime  actualValue  ourForecast  theirForecast
0 2019-11-30 18:00:00     0.020630     0.009782       0.009433
1 2019-11-30 18:05:00     0.026640     0.012259       0.021242
2 2019-11-30 18:10:00     0.022711     0.010428       0.021242
3 2019-11-30 18:15:00     0.009409     0.021179       0.021242
4 2019-11-30 18:20:00     0.009554     0.021814       0.021242

In [4]:
df['startTime']

0       2019-11-30 18:00:00
1       2019-11-30 18:05:00
2       2019-11-30 18:10:00
3       2019-11-30 18:15:00
4       2019-11-30 18:20:00
                ...
53059   2019-09-30 17:35:00
53060   2019-09-30 17:40:00
53061   2019-09-30 17:45:00
53062   2019-09-30 17:50:00
53063   2019-09-30 17:55:00
Name: startTime, Length: 53064, dtype: datetime64[ns]

In [5]:
df['startTime'].min().to_pydatetime()

datetime.datetime(2019, 6, 30, 18, 0)

In [30]:
df['startTime'].min()

Timestamp('2019-06-30 18:00:00')

In [18]:
df[df['startTime']=='2019-09-20 18:00:00']

                startTime  actualValue  ourForecast  theirForecast
50184 2019-09-20 18:00:00     0.066463     0.060503       0.059021

In [19]:
df.sort_values('startTime')

                startTime   actualValue  ourForecast  theirForecast
35496 2019-06-30 18:00:00  1.617226e-02     0.015052       0.015087
35497 2019-06-30 18:05:00  1.549250e-02     0.015140       0.015292
35498 2019-06-30 18:10:00  1.550504e-02     0.015087       0.015292
35499 2019-06-30 18:15:00  1.469461e-02     0.014720       0.015292
35500 2019-06-30 18:20:00  1.121339e-02     0.014742       0.015292
...                   ...           ...          ...            ...
35491 2019-12-31 23:35:00  3.375579e-02     0.024174       0.031142
35492 2019-12-31 23:40:00  3.358780e-02     0.013643       0.031142
35493 2019-12-31 23:45:00  1.400000e-07     0.014110       0.031142
35494 2019-12-31 23:50:00  3.400000e-07     0.014251       0.031142
35495 2019-12-31 23:55:00  6.015500e-04     0.012227       0.031142

[53064 rows x 4 columns]

In [31]:
df[df['startTime']<='2019-10-21 00:00:00'&& df['startTime']>='2019-09-11 00:00:00']

SyntaxError: invalid syntax (<ipython-input-31-c137e42dfdfc>, line 1)

In [33]:
df[df['startTime']<='2019-10-21 00:00:00']

                startTime  actualValue  ourForecast  theirForecast
8928  2019-07-31 18:00:00     0.070078     0.063081       0.091285
8929  2019-07-31 18:05:00     0.077490     0.065452       0.073226
8930  2019-07-31 18:10:00     0.071610     0.072478       0.073226
8931  2019-07-31 18:15:00     0.077490     0.072828       0.073226
8932  2019-07-31 18:20:00     0.077490     0.072698       0.073226
...                   ...          ...          ...            ...
53059 2019-09-30 17:35:00     0.072354     0.083131       0.071708
53060 2019-09-30 17:40:00     0.067218     0.067261       0.071708
53061 2019-09-30 17:45:00     0.067787     0.068573       0.071708
53062 2019-09-30 17:50:00     0.067778     0.067875       0.071708
53063 2019-09-30 17:55:00     0.069386     0.068955       0.071708

[32329 rows x 4 columns]

In [34]:
from pandas.tseries.holiday import USFederalHolidayCalendar as calendar

In [36]:
cal = calendar()
holidays = cal.holidays(start=df['startTime'].min(), end=df['startTime'].max())

In [38]:
df['startTime'].isin(holidays).sum()

6

In [43]:
chart_data = pd.DataFrame('Our Forecast': 1, 'Their Forecast': 2)

SyntaxError: invalid syntax (<ipython-input-43-100dbc174e90>, line 1)

In [58]:
df['startTime'].dt.dayofweek

0        5
1        5
2        5
3        5
4        5
        ..
53059    0
53060    0
53061    0
53062    0
53063    0
Name: startTime, Length: 53064, dtype: int64

In [57]:
pd.to_datetime(df['startTime']).weekday()

AttributeError: 'Series' object has no attribute 'weekday'

In [6]:
import datetime as dt

In [7]:
dt(df['startTime'].min().to_pydatetime())

TypeError: 'module' object is not callable